* {
	font-family: VAG World;
	border: none;
}

.TextBox {
	background: #111;
	color: white;
	outline: none;
	text-align: center;
}

.TextBox:focus {
	background: #333;
}

.ChatInput {
	background: #000b;
	color: white;
	outline: none;
}