* {
	font-family: VAG World;
	border: none;
}

/* Menu textboxes */
.TextBox {
	background: #111;
	color: white;
	outline: none;
	text-align: center;
	transition: .1s;
}

.TextBox:focus {
	background: #333;
}


/* Chat */
.ChatInput {
	background: #0005;
	color: #fffb;
	
	outline: none;
	transition: .1s;
}

.ChatInput:focus {
	background: #000d;
	color: #ffff;
}